* {
  margin: 0;
  padding: 0;
}

/* typography */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

main {
  background-color: rgba(0, 0, 0, 2%);
  /* max-width: 1440px; */
  /* if you need */
  margin: 0;
  padding: 0;
}

/* nav styles */
header {
  max-width: 1440px;
  margin: 0px auto;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("Assets/Hero-bg.png");
  align-items: center;
  margin-bottom: 116px;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-margin {
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-logo {
  font-weight: 800;
  font-size: 30px;
  margin-left: 150px;
}

.blue-1 {
  color: #4E47FF;
}

.btn-primary {
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 10px 35px;
  border-radius: 10px;
  margin-right: 150px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: transparent;
  color: #4E47FF;
  border-color: #4E47FF;
}

.banner-title {
  font-size: 65px;
  padding-top: 200px;
  padding-left: 300px;
  padding-right: 300px;
}

.banner-content button {
  border: 1px solid #4E47FF;
  border-radius: 10px;
  background: #4E47FF;
  padding: 10px 35px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 220px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.banner-content button:hover {
  border: 1px solid #4E47FF;
  background: transparent;
  color: #4E47FF;
}

/* action style */

.action-container {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 15px;
}

.action-description {
  font-size: 23px;
  font-weight: 400;
  text-align: justify;
  color: rgba(0, 0, 0, 0.5);
  max-width: 450px;
  margin-bottom: 23px;
}

img {
  border-radius: 48px;
}

/* data style */
.user-data {
  max-width: 1140px;
  margin: 0px auto;
  text-align: center;
  margin-top: 130px;
  background-color: rgba(78, 71, 255, 10%);
  margin-bottom: 137px;
  border-radius: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.data-title {
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 35px;
}

.data-container {
  display: flex;
  justify-content: space-around;
}

.data-number {
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  font-family: Arial, Helvetica, sans-serif;
}

.data-description {
  font-size: 23px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* opinion style */
.opinion {
  max-width: 1140px;
  margin: 0px auto;
  text-align: center;
  background-color: transparent;
  margin-bottom: 137px;
  border-radius: 24px;
}

.opinion-title {
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 50px;
}

.opinion-container {
  text-align: left;
  display: flex;
  gap: 20px;
}
.user-opinion{
  background-color: white;
  border-radius: 14px;
  padding: 24px;
}

.rating {
  display: flex;
  gap: 5px;
}

.star {
  width: 20px;
  height: 20px;
}

.user-title {
  font-size: 30px;
  padding-top: 24px;
  padding-bottom: 10px;
}
h5{
  padding-bottom: 10px;
}
.opinion-description{
  max-width: 400px;
  font-size: 18px;
  padding-bottom: 20px;
}
.name{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.date{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.user-info{
  display: flex;
  gap: 20px;
}
/* focus style */
.focus{
  max-width: 1140px;
  margin: 0px auto;
  justify-items: center;
  text-align: center;
  margin-top: 130px;
  background-color: white;
  margin-bottom: 93px;
  border-radius: 14px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.focus h2{
  font-size: 60px;
  margin-bottom: 20px;
}
.focus p{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.focus button {
  display: block;
  border: 1px solid #4E47FF;
  border-radius: 10px;
  background: #4E47FF;
  padding: 10px 35px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}
.focus button:hover{
  background-color: transparent;
  color: #4E47FF;
  border-color: #4E47FF;
}
.focus img{
  width: 840px;
  height: 365px;
}

/* form style */
.form{
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  gap: 100px;
  align-items: center;
  /* margin-bottom: 85px; */
}
.form.column{
  width: 50%;
}
.form-title{
  font-size: 97px;
  max-width: 600px;
}
.form input[type="text"], textarea{
    height: 34px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 24px;
    border: none;
}
.form textarea{
  padding-bottom: 60px;
}
.form button {
  display: block;
  border: 1px solid #4E47FF;
  border-radius: 10px;
  background: #4E47FF;
  width: 100%;
  padding: 10px 35px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}
.form button:hover{
  background-color: transparent;
  color: #4E47FF;
  border-color: #4E47FF;
}
label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* footer style */
.footer {
  max-width: 1440px;
  margin: 0px auto;
  justify-items: center;
  text-align: center;
  margin-top: 85px;
  background-color: white;
  padding-top: 104px;
  padding-bottom: 104px;
}
.footer h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: 800;
  color: #4E47FF;
}
.footer p{
  color: #8987A1;
  max-width: 500px;
  padding-bottom: 25px;
}
nav ul{
  display: flex;
  gap: 50px;
}
nav ul li{
  list-style: none;
}
nav li a{
  text-decoration: none;
  color: #8987A1;
  transition: background 0.3s ease;
}
nav li a:hover{
  color: #4E47FF;
  font-weight: 600;
}